<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="images">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
  </head>
  <body ng-controller="MainCtrl as c">
    <div class="">
      {{ c.profile.firstName + " " + c.profile.lastName }}
    </div>
    <div ng-repeat="img in c.profile.images">
      <div class="">
        <img ng-src="{{img.url}}" alt="">
      </div>
      <div class="">
        <button ng-click="c.like(img)">Curtir</button> {{ c.getLikes(img) }}
        <span ng-repeat="t in img.tags"><a href="{{ t }}">#{{ t }}</a> </span>
        <input ng-show="c.editando" ng-model="c.valor" type="text"><button ng-click="c.editar(img)">Editar</button>
      </div>
    </div>
  </body>
</html>
